{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "next/babel"
  ],
  "plugins": ["babel-plugin-styled-components"]
}
