{
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "babel-plugin-styled-components"
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
