node_modules
.idea
.next
.env
fixtures/generated
google-credentials.json
scripts/google_oauth.js
credentials.json
yarn-error.log
*.DS_Store
test-report.csv
test-report-2.csv
staging-test-report.csv
staging-rankings-2.csv
staging-rankings-3.csv
staging-rankings.csv
app-mining-rankings.csv
invalid-report.csv
invalid-report-2.csv
